html
	head
		title= "UIA ~ Search User"
		link(rel='stylesheet', href='main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='script.js')
	body
		div
			h1 Search users
			a(href="allusers") All users
			br
			a(href="adduser") Add user
			br
			br
			h3 Search form
			p Here you can search for users by their first or last name.
			p For example: try 'Dorrestein' for multiple results, try 'Noordman' or 'Selma' for just one.
			form#searchForm
				//-input(type='hidden', name='_method', value='PUT')
				label(for='ourid') Search: 
				input(name='searchbar', type='search', id='searchbar', placeholder='Search by first or last name')
				input(type='Submit', value='Search', class='button', id='searchbutton')
			br
			p#resultsHere
