html
	head
		title= "UIA ~ Search User"
		link(rel='stylesheet', href='main.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='script.js')
	body
		div
			h1 Search users
			a(href="allusers") All users
			br
			a(href="adduser") Add user
			br
			br
			h3 Search form
			p Here you can search for users by (part of) their first or last name, to get the result 
			p For example: try 'Dorrestein' for multiple results, try 'Noordman' or 'Selma' for just one.
			p Just in case you wish to use the e-mailadres, the results will also show below the search bar, so you can easily copy-paste.

			//- form(method='post', action= 'search' id='searchForm')
			//- 	label(for='ourid') Search: 
			//- 	input(name='searchbar', id='searchbar', placeholder='Search by first or last name', list='resultsHere', type='text')

			//- 	datalist#resultsHere

			//- 	input(type='Submit', value='Search', class='button', id='searchbutton')
			//- if htmlArray.length > 0


			form(method='post', action= 'search' id='searchForm')
				//-input(type='hidden', name='_method', value='PUT')
				//- label(for='ourid') Search: 
				input(name='searchbar', type='search', id='searchbar', placeholder='Search by first or last name', list='dropdown', autocomplete='off')
				datalist#dropdown

			//- if htmlArray.length > 0
			h3 Users matching your search:
			p#resultsHere
				
