html
	head
	body
		h1 Add a user
		p Here you can add a user by filling in the fields.
		br
		br
		table
			form(method='post', action= __dirname + '../data.json')
			tr
				td
					label First Name: 
				td
					input(name='firstName', id='firstName', placeholder = 'Enter first name')
			tr
				td
					label Last Name: 
				td
					input(name='lastName', id='lastName', placeholder = 'Enter last name')
			tr
				td
					label E-mail: 
				td
					input(name='email', id='email', placeholder = 'Enter email')
		input(type='Submit', value='Add user')


//- enkele aanhalingstekens vs dubbele? nog checken