html
	head
	body
		h1 All Users
		p This is a list of all users
		a(href="search") Want to search for a user?
		br
		br
		each thing in data
			p #{thing.firstName}
			p #{thing.lastName}
			p #{thing.email}
			br