html
	head
	body
		h1 Search results
		p Your search returned the following results:
		br
		br
		each thing in data
			p #{thing}
		br
		a(href="search") Return to search
		br
		a(href="allusers") Return to all users
